/* This is an external stylesheet. Add your CSS here */

body {
  background-color: #F5DEB3;
}

#mainHeader {
  font-family: 'Fredericka the Great', cursive;
  font-size: 90px;
  color: white;
  margin-bottom: 1em;
  padding-left: 40px;
}

#subHeader {
  font-family: 'Fredericka the Great', cursive;
  font-size: 50px;
  color: white;
  margin-bottom: 1em;
  text-align: right;
}

.header {
  padding-top: 90px;
  min-height: 500px;
  margin-bottom: 0;
  background-image: url('../img/firework-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#Header2 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
  color: black;
  margin-bottom: 1em;
  text-align: center;
}

#Blurb {
  font-family: 'Merienda', cursive;
  color: black;
  font-size: 25px;
  height: 200px;
  width:560px;
  text-align: center;
  padding-left: 100px;
}

medium {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: #708090;
}

.MeetUs {
  font-family: "Fredericka the Great", serif;
  font-size: 45px;
  color: black;
  font-weight: bold;
}

.Jess {
  font-family: 'Merienda', cursive;
  color: #0000CD;
}

.Orla {
  font-family: 'Merienda', cursive;
  color: #008000;
}

.Lily {
  font-family: 'Merienda', cursive;
  color: #FF0000;
}

p {
  font-family: 'Merienda', cursive;
  font-size: 20px;
}


.box {
  border: 1px solid black;
  background-color: black;
  padding: 150px;
  padding-top: 40px;
}

.master {
  border: 1px solid black;
  background-color: black;
}

.foot-tabs {
  padding-top: 25px;
  padding-bottom: 15px;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  padding-left: 90px;
}

.copyright {
  padding-top: 15px;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  text-align: center;
  color: black;
}
