/* This is an external stylesheet. Add your CSS here */

#mainHeader {
  font-family: 'Fredericka the Great', cursive;
  font-size: 90px;
  color: white;
  margin-bottom: 1em;
  padding-left: 40px;
}

#subHeader {
  font-family: 'Fredericka the Great', cursive;
  font-size: 50px;
  color: white;
  margin-bottom: 1em;
  text-align: right;
}

.header {
  padding-top: 90px;
  min-height: 500px;
  margin-bottom: 0;
  background-image: url('../img/firework-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#Header2 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
  color: black;
  margin-bottom: 1em;
}

.ul2 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: blue;
}

#myCarousel {

}

.item active {
  background-size: cover;
  font-size: 40px;
}

.item {
  background-size: cover;
  font-size: 40px;
}

body {
  background-color: lightgrey;
}
